<div class="thepeopleforcara">
    <h1 style="text-align: center;margin-bottom: 10px;">#Cara4YSLUnder19</h1>
    <p style="font-size: 120%;margin-bottom: 25px;">Hear it from others 💬</p>
    <a href="https://twitter.com/RalphB_R/status/1367920906866204680"><img src="/peopleforcara/1.png"></a>
    <a href="https://twitter.com/RalphB_R/status/1367920906866204680"><img src="/peopleforcara/1.png"></a>
    <br><a href="#" style="margin-top: 25px;" class="btn btn-light btn-lg">🐦 TWEET YOUR SUPPORT</a>
</div>

<style>
    .thepeopleforcara {
        background-color: #e7e7e7;
        min-height: 500px;
        color: black;
        padding: 30px;
        margin-top: 25px;
        text-align: center;
        background-size: 100% 100% ;
        
    }



    .thepeopleforcara img {
        border-radius: 10px;
        margin: 10px;
        height: auto;
    }
</style>