<div class="widepageheader">
 <div class="container">
    <div class="row">
        
            <div class="col-lg-12" id="widepageheader-left">
                <div class="widepage-box">
                    <div class="widepage-content transitionzoom" style="text-align: center;">
                        <img src="/assets/branding/accent.png" alt="" style="width: 100px; height: auto;">
                        <h1 style="text-align: center;margin-top: 10px;">"By the strength of our common endeavour we achieve more than we achieve alone"</h1>
                        <p style="font-size: 150%;text-align: center;">- Labour Party Clause IV</p>
                    </div>
                </div> 
            </div>

        </div>
    </div>
</div>
<style>


    #widepageheader-left {
        color: #ff3f3f;
    }
    #widepageheader-left h1 {
        font-size: 300%;
    }

    .widepage-box {
        min-height: 60vh;
        display: flex;
    }

    .widepage-content {
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        padding: 20px;
    }

    .widepageheader {
        margin: 15px;
        background-image: url("/assets/branding/brand-gradient.png");
        
        
        background-size: cover;
        background-position: top;
    }

    @media (max-width: 700px) { 
        .widepage-content {
            font-size: 70%;
        }
    }
</style>