{% include coresite.html %}
{% include legacy/header.html %}
<div style="height: 150px;"></div>
<h1>Take Action</h1><br><br>
<div class="container-fluid">
    <div class="row justify-content-center">
        {% include components/key/imagebutton.html url="https://twibbon.com/Support/support-cara-mcdade" frozen="/assets/icons/takeaction/twibbon.png" pagename="Apply a Twibbon to show support" %}
        {% include components/key/imagebutton.html url="/news" frozen="/assets/icons/takeaction/news.png" pagename="Read the news from the campaign" %}
        {% include components/key/imagebutton.html url="https://twitter.com/_caramcdade" frozen="/assets/icons/takeaction/twitter.png" pagename="Follow Cara on Twitter" %}
        
    </div>
</div>

{% include legacy/footer.html %}

<style>
        body {
        background-image: url('/assets/branding/background-dark.png');
        color: white;
        text-align: center;
        background-size: cover;
        background-position: center;

        
        
    }
</style>