<div class="container">
    <div class="featured-side">
        <div class="row">
            <div class="col-lg-6 flex">
                <div class="featured-side-content">
                    <h1>{{include.title}}</h1>
                    <p>{{include.description}}</p>
                    <a class="btn btn-danger" href="{{include.url}}">{{include.button}}</a>
                </div>
            </div> 

            <div class="col-lg-6 image" style="background-image: url({{include.image}});">

            </div> 
        </div>
    </div>
</div>

<style>

    .flex {
        display: flex;
    }
    .featured-side {
        padding: 25px;
        min-height: 50vh;
        font-size: 130%;
        
    }

    .featured-side-content {
        margin-top: auto;
        margin-bottom: auto;
    }

    

    .image {
        background-size: cover;
        min-height: 50vh;
        background-position: center;
        border-radius: 15px;
    }
</style>