<div class="container">
    <div class="featured-side">
        <div class="row">
            <div class="col-lg-6 flex">
                <div class="featured-side-content">
                    <span class="featured-side-heading">{{include.title}}</span>
                    <span class="featured-side-description">{{include.description}}</span>
                    <a class="btn btn-danger" href="{{include.url}}">{{include.button}}</a>
                </div>
            </div> 

            <div class="col-lg-6 image" style="background-image: url({{include.image}});">
                <span class="alt-text">ALT TEXT: {{include.alt}}</span>
            </div> 
        </div>
    </div>
</div>

<style>

    .flex {
        display: flex;
    }
    .featured-side {
        padding: 25px;
        min-height: 50vh;
        font-size: 130%;
        
    }

    .featured-side span {
        display: block;
        padding-bottom: 10px;
        margin: 0;
    }

    .featured-side-heading {
        font-size: 200%;
        font-weight: 700;
        padding-bottom: 0 !important;
    }

    .featured-side-content {
        margin-top: auto;
        margin-bottom: auto;
    }

    .alt-text {
        opacity: 0;
    }
    

    .image {
        background-size: cover;
        min-height: 50vh;
        background-position: center;
        border-radius: 15px;
    }

    @media (max-width: 990px) {
        .featured-side {
            padding: 15px !important;
        }

        .featured-side-content {
            width: 100%;
        }
    }
</style>