<footer>
    <div class="footer justify-content-center;" style="text-align: center;">
        <img style="height: auto; width: 300px;" alt="Cara McDade for YSL Under 19's Officer" loading="lazy" src="/assets/branding/logowhite.png">
        <h1>Engage and Reform</h1>
        <P style="margin-top: 10px;">Website built by Clark Narvas. Campaign has no ties to Scottish Labour</P>
    </div>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>


</body>
</html>

<style>
    .footer {
        background-color: #650404;
        padding: 30px;
        color: white;

    }
</style>