

<div class="tophead">
  <div class="container">
    <a class="topheadmenu" href="https://scotlandjoin.labour.org.uk/">Join Labour</a>
    <a class="topheadmenu" href="https://scotlandjoin.labour.org.uk/">Donate to Labour</a>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: white;position: sticky;">
    <div class="container">
      <a class="navbar-brand" href="/index.html">CARA MCDADE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        Menu
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/progress.html">Progress</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/meetings">Meetings</a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="/ideas.html">Ideas</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/news">News</a>
          </li>

        </ul>
        <span class="navbar-text">
          SYL Under 19's Officer
        </span>
      </div>
    </div>
  </nav>

  <style>
    .navbar-brand {
      font-family: 'Proxima Nova';
      font-weight: 700;
      color: #ff3f3f !important;
    }

    .navbar-text {
      font-family: 'Proxima Nova';
      color: #ff3f3f !important;
      font-weight: 700;
    }


    .tophead {
      max-height: 30px;
      background-color: #ff3f3f;
      position: flex;
      vertical-align: middle;
      color: white;
      
    }

    .topheadmenu {
      color: white;
      display: inline-block;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 5px;
      padding-left: 5px;
    }

    .topheadmenu:hover {
      color: white;
      background-color: #aa2b2b;
    }

    .topheadmenu:active {
      color: black !important;
      background-color: rgb(255, 217, 0);
      
    }

    @media (max-width: 990px) {
      .navbar-text {
        display: none;
      }
    }
  </style>