<div class="col-lg-3" style="text-align: center;padding: 25px;">
    <a href="{{ include.url }}" style="text-decoration: none;color: black;"><img class="takeactionbuttonimage" src="{{ include.frozen }}" >
    <br><span class="takeactionbuttonpage" style="color: white;font-size: 200%;">{{ include.pagename }}</span></a>
</div>

<style>

.takeactionbuttonimage {
    height: auto; width: 300px;
}



    @media only screen and (max-width: 1500px) {

    .takeactionbuttonpage {
        font-size: 150%;
    }
  .takeactionbuttonimage {
      width: 250px !important;
  }
}
  @media only screen and (max-width: 986px) {

.takeactionbuttonpage {
    font-size: 200%;
}
.takeactionbuttonimage {
  width: 260px !important;
}

  }

</style>