<div class="container-fluid">
    <div class="row">
        <div class="news-strip col-lg-12" style="padding: 25px;">
                <div class="row justify-content-center">
                    {% for post in site.posts limit:6 %}
                    {% include components/key/blogcard.html %}

                {% endfor %}


                </div>

                <!----<a href="/news" style="font-size: 250%; text-align: center; display: block; color: #ff3f3f;">More News</a>--->
        </div>

    </div>
</div>

<style>
    @media (max-width: 1500) {
        #twitter {
            display: none;
        }
    }
</style>