h1, h2, h3, h4 {
    font-family: proxima-nova, arial;

    font-weight: 700;

    font-style: normal;
    margin: 0;
    padding: 0;
}

body, p, a {
    font-family: proxima-nova, arial;

    font-weight: 400;

    font-style: normal;
}

a {
    color: #d42c2c;
    transition: none !important;
}

a:hover {
    color: #6e1a1a;
}

a:active {
    background-color: #ff3f3f;
    color: white !important;

}

a.nohighlighteffect:active {
    background-color: #ffffff00;
    color: inherit;

}




.btn {
    font-weight: 700;
}

body {
    padding: 0;
    margin: 0;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

.archived {
    background-color: #eeeeee;
    padding: 10px;
    height: auto;
    margin-bottom: 20px;
    text-align: center;
}

.logo {
    font-family: 'Proxima Nova';
    font-weight: 700;
    font-variant: small-caps;
    color: #ff3f3f !important;
  }

.CybotCookiebotDialogBody {
    font-family: 'Proxima Nova' !important;
}

@keyframes homepagetransition {
    from {
        min-height: 87vh
    }
  
    to {
      min-height: 60vh;
    }
  }

@keyframes TransitionZoom {
    from {
      opacity: 0;
    }
  
    to {
      transform: scale(1)
    }
  }

.transitionzoom {
    animation: TransitionZoom 0.5s ease-out;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;

}

/* News strip css */

.news-strip-homepage {
    background-color: rgb(255, 242, 242);
    min-height: 130vh;
}

@media (min-width: 1000px) {
    .negative-margin {
        margin-top: -15vh;
    }
}