<div class="container-fluid">
    <div class="widepageheader" style="margin-top: 70px;">
            <div class="row">
                <div class="col-lg-6 right-widepage" style="padding: 0;">
                   <!------<iframe title="Launch video" width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/2BCD8jb13TA?controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->

                </div>

                <div class="col-lg-6 left-widepage align-items-center">
                    <div class="wide-page-content align-self-center">
                        <h1 class="left-widepage-text align-self-center">Cara McDade is running for Under 19's Officer.</h1>
                        <p class="left-widepage-description">The success of this campaign depends on all of us. Help spread Cara's message out to build a better Scottish Young Labour</p>
                        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" data-text="I&#39;m supporting Cara McDade. Are you? " data-hashtags="#Cara4YSLUnder19" data-related="caramcdade_" data-dnt="true" data-show-count="false" class="btn btn-light btn-lg">SHARE THE NEWS</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                       

                    </div>
                </div>


            </div>

    </div>
</div>
<style>
    .left-widepage {
        background-image: linear-gradient(#650404, #ff3f3f);
        min-height: 60vh;
        color: white;
        padding-top: 110px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 40px;
        
    }

    .right-widepage {
        background-image: url('/assets/branding/cara.jfif');
        background-size:cover;
        background-position:center;
    }

    .left-widepage-text {
        font-size: 350%;
    }

    .left-widepage-description {
        font-size: 200%;
    }


    .wide-page-content {
        margin-top: auto;
        margin-bottom: auto;
    }

    .widepagebutton {
        border: #ffa1a1 3px solid;
        height: 200px;
        margin: 10px;
    }


    @media only screen and (max-width: 992px) {
        .left-widepage {
            padding-left: 20px;
            padding-right: 20px;
            min-height: 2px;
            padding-top: 30px;
        }

        .left-widepage-text {
            font-size: 250%;
        }

        .left-widepage-description {
            font-size: 150%;
    }

    .right-widepage {
        height: 400px;
    }

    }

    

</style>