<div class="container-fluid">
    <div class="widepageheader" style="margin-top: 70px;">
            <div class="row">
                <div class="col-lg-6 right-widepage" style="padding: 0;">
                   <!------<iframe title="Launch video" width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/2BCD8jb13TA?controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->

                </div>

                <div class="col-lg-6 left-widepage align-items-center">
                    <div class="wide-page-content align-self-center">
                        <h1 class="left-widepage-text align-self-center">Voting starts tomorrow. <br>Are you with us?</h1>
                        <p class="left-widepage-description">Today, you can vote for a Under 19's Officer that knows the only way we can create change is together. 

                            Help spread Cara's message out to build a better Scottish Young Labour.</p>
                        <a href="http://bit.ly/3tikx58" style="margin-left: 0px; margin-right: 5px; margin-bottom: 10px;" class="btn btn-danger btn-lg">VOTING FOR CARA?</a>
                        <a href="/plans"style="margin-left: 0px; margin-right: 0px; margin-bottom: 10px;" class="btn btn-light btn-lg">UNSURE?</a>

                    </div>
                </div>


            </div>

    </div>
</div>
<style>
    .left-widepage {
        background-image: linear-gradient(#ffc7d4, #ffc7d4);
        min-height: 60vh;
        color: #ff0000;
        padding-top: 70px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 40px;
        
    }

    .right-widepage {
        background-image: url('/assets/branding/gotv.png');
        background-size:cover;
        background-position:center;
    }

    .left-widepage-text {
        font-size: 350%;
    }

    .left-widepage-description {
        font-size: 200%;
    }


    .wide-page-content {
        margin-top: auto;
        margin-bottom: auto;
    }

    .widepagebutton {
        border: #ffa1a1 3px solid;
        height: 200px;
        margin: 10px;
    }


    @media only screen and (max-width: 992px) {
        .left-widepage {
            padding-left: 20px;
            padding-right: 20px;
            min-height: 2px;
            padding-top: 30px;
        }

        .left-widepage-text {
            font-size: 250%;
        }

        .left-widepage-description {
            font-size: 150%;
    }

    .right-widepage {
        height: 400px;
    }

    }

    

</style>