{% include coresite.html %}
{% include header.html %}
<h1 style="text-align: center;font-size: 350%;">Progress</h1><br>

<div class="container">
<div class="policy-card">
    <p>REBUILDING ACTIVISM</p>
    <h1>Help build local Scottish Young Labour groups</h1>
    <p>Working alongside the rest of the executive committee, I will help build the foundations for Scottish Young Labour groups across regions, so we can energise the involvement of young people in politics. </p>

</div>

<div class="policy-card">
    <p>TRANSPARENCY AND GOVERNANCE</p>
    <h1>Start monthly meetings</h1>
    <p>I will allow young members to give their ideas and feedback to me through monthly meetings</p>
</div>

<div class="policy-card">
    <p>SAFEGUARDING</p>
    <h1>Protect young members.</h1>
    <p>A strong safeguarding policy will be implemented to protect our younger members from harassment and unauthorised contacts.</p>
    <div class="policy-progress in-discussion">In Discussions</div>
  
</div>

<div class="policy-card">
    <p>TRANSPARENCY AND GOVERNANCE</p>
    <h1>Updates on EC meetings</h1>
    <p>I will provide updates on EC meetings so you know the progress within my role.</p>
</div>

<div class="policy-card">
    <p>ELECTIONS</p>
    <h1>Continue supporting the OMOV ballot system</h1>
    <p>I will pressure the party to ensure digitally excluded members can vote in future elections/ballots.</p>
 
</div>



<div class="policy-card">
    <p>POLITICAL EDUCATION</p>
    <h1>Return SYL night school & training days</h1>
    <p>I will work with the EC to bring back SYL night school and training days to enable our members to campaign more effectively</p>

</div>

<div class="policy-card">
    <p>TRAVEL</p>
    <h1>Subsidised travel</h1>
    <p>To support those in rural communities and those struggling with transport costs, I will work with the EC to subsidise travel to events.</p>
   
</div>


<div class="policy-card">
    <p>POLICY</p>
    <h1>People-powered politics</h1>
    <p>I will ensure members are balloted on key issues and endorsements</p>
    <div class="policy-progress in-discussion">In Discussions</div>
    
</div>

</div>

<style>
.policy-card {
    background-color: #f5f5f5;
    padding: 25px;
    margin: 2px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    text-align: center;
    border: solid 2px rgb(218, 218, 218);
}

.policy-card p{
    font-size: 130%;
}

.policy-card a{
    font-weight: 700;
}

.keypolicy a{
    color: white;
}

.keypolicy {
    background-color: #d42c2c;
    color: white;
    border: 0;
}
</style>

<div style="margin-bottom: 50px;"></div>
{% include footer.html %}